In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

QUESTION 2

In [3]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

   Age Nationality  Overall
0   35    Portugal       94
1   33   Argentina       93
2   30      Brazil       92

QUESTION 5

In [5]:
wine_df = df[df['Item'] == 'Wine']

wine_2015 = wine_df['Y2015'].sum()
wine_2018 = wine_df['Y2018'].sum()

print("2015:", wine_2015)
print("2018:", wine_2018)

2015: 4251.8099999999995
2018: 4039.3199999999997

QUESTION 6

In [6]:
unique = df['Area'].nunique()
unique

49

QUESTION 7

In [7]:
y = [(2, 4), (7, 8), (1, 5, 9)]

x = y[1][1]

print("x:", x)

x: 8

QUESTION 8

In [8]:
df_processing = df[df['Element'] == 'Processing']
sum_2017 = df_processing['Y2017'].sum()
sum_2017

292836.0

QUESTION 9

In [9]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age', 'Nationality', 'Overall']

df1 = pd.DataFrame(lst, columns=col,index=[1,2,3])
df1

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

QUESTION 10

In [10]:
df_mad = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Food')]
dff_mad = df_mad['Y2015'].sum()
dff_mad

21120.649999999998

QUESTION 12

In [12]:
df2 = df[['Y2017', 'Area']]
dff2 = df2.groupby('Area')['Y2017'].sum()
df3 = dff2.idxmax()
df3

'Nigeria'

QUESTION 13

In [17]:
df4 = df[df['Element'] == 'Stock Variation']
df4_year = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']
df4_sum = df4[df4_year].sum()
df4_sum_max = df4_sum.idxmax()
df4_sum_max

'Y2014'

QUESTION 15

In [18]:
missing_values_2014 = df['Y2014'].isnull().sum()
total_values_2014 = len(df['Y2014'])
percentage_missing_2014 = (missing_values_2014 / total_values_2014) * 100
print("missing values in 2014:", missing_values_2014)
print("Percentage of missing values in 2014:", "{:.3f}%".format(percentage_missing_2014))

missing values in 2014: 1589
Percentage of missing values in 2014: 2.607%

QUESTION 16

In [19]:
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

QUESTION 17

In [21]:
selected_columns = df[['Y2017', 'Area']]
sum_2017_by_area = selected_columns.groupby('Area')['Y2017'].sum()
seventh_lowest_sum = sum_2017_by_area.nsmallest(7).iloc[-1]
area_seventh_lowest_sum = sum_2017_by_area[sum_2017_by_area == seventh_lowest_sum].index[0]
area_seventh_lowest_sum

'Guinea-Bissau'

QUESTION 18

In [22]:
correlation_with_element_code = df[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].corr()['Element Code']
correlation_with_element_code = correlation_with_element_code.drop('Element Code')
year_least_correlation = correlation_with_element_code.idxmin()
year_least_correlation

'Y2016'

QUESTION 20

In [24]:
year_2017_data = df['Y2017']
mean_2017 = year_2017_data.mean()
std_dev_2017 = year_2017_data.std()
mean_2017 = round(mean_2017, 2)
std_dev_2017 = round(std_dev_2017, 2)

print("Mean:", mean_2017)
print("Standard deviation:", std_dev_2017)

Mean: 140.92
Standard deviation: 1671.86